.App {
    cursor: none; /* Hide the default cursor */
  }
  
  .cursor-ball {
    position: fixed;
    width: 200px; /* Size of the ball */
    height: 200px;
    background-color: rgb(22, 20, 20); /* Keep your color */
    opacity: 0.1; /* Adjust the opacity as needed, 0.5 for 50% transparency */
    border-radius: 50%; /* Makes it round */
    pointer-events: none; /* Allows click-through */
    transform: translate(-50%, -50%); /* Centers the ball on the cursor */
    transition: transform 0.1s, width 0.2s, height 0.2s; /* Smooth transition for moving and hovering */
    z-index: 9999; /* Ensure it's above other items */
  }
  