/* Base styles */
:root {
  /* Font and color scheme */
  --font-primary: 'Roboto', sans-serif;
  --color-primary: #4A4E69;  /* Updated for a modern look */
  --color-secondary: #9A8C98; /* Softer secondary color */
  --background-primary: #d3d3d3; /* Softer primary background */
  --background-light: #faf6f6;  /* Updated light background for contrast */
  --background-dark: #464649; /* Darker shade for depth */
  --text-light: #ffffff;
  --text-dark: #333333; /* Darker text for better readability */
  --shadow-light: 0 2px 4px rgba(0, 0, 0, 0.1);
  --shadow-heavy: 0 4px 12px rgba(0, 0, 0, 0.2);

  /* Sizing and spacing */
  --font-size-base: 1rem;
  --padding-base: 1.25rem;
  --padding-card: 1rem;
  --flex-gap: 1.5rem;
  /* Media query adjustments */
  --font-size-small: 0.9rem;
  --padding-small: 1rem;
  --flex-gap-small: 1rem;
}

@media (max-width: 768px) {
  :root {
    --font-size-base: var(--font-size-small);
    --padding-base: var(--padding-small);
    --padding-card: var(--padding-small);
    --flex-gap: var(--flex-gap-small);
  }
}

@media (max-width: 480px) {
  :root {
    --font-size-base: 0.85rem;
    --padding-base: 0.8rem;
    --padding-card: 0.8rem;
    --flex-gap: 0.8rem;
  }
}

body {
  font-size: var(--font-size-base);
  padding: var(--padding-base);
  background-color: var(--background-primary);
  font-family: var(--font-primary);
  color: var(--text-dark);
  line-height: 1.5;
  margin: 0;
  padding: 0; 
  
}

/* USER INFO */
.user-info {
  display: flex;
  align-items: end;
  /* Additional styling */
}

.user-icon {
  width: 24px; /* Adjust based on your preference */
  height: 24px;
  margin-right: 10px;
}

.user-email {
  font-size: 0.9rem;
  color: #ddd; /* Lighter color for a subtler appearance */
  /* Additional styling */
}


/* PALETE  */
.palete-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
/* END PALETE */

/* HERO */
.hero-section {
  margin-top: 10px;
  display: flex;
  justify-content: center; 
  /* max-width: 1200px;
  margin: 0 auto; */
}
.hero-items h1{
  font-size: 64px; 
}

.hero-items p{
  font-size: 32px;
}

.hero-items button {
  border-radius: 4px; 
  background-color: #fc981c;
}
.hero-items button:hover {
  cursor: pointer;
}
.content-overlay {
  display: flex; /* Use flexbox */
  align-items: center; /* Align items vertically in the center */
  justify-content: space-around; /* Space out the items */
  padding: var(--padding-base);
  border-radius: 10px;
  box-shadow: var(--shadow-light);
  background-color: var(--background-light); 
}

.content-overlay div {
  flex: 1; /* Give both children (the text container and the image) equal flexibility */
}

.content-overlay img {
  max-width: 50%; /* Limit image width to not take over the entire space */
  height: auto; /* Maintain aspect ratio */
  border-radius: 10px; /* Optional: rounded corners for the image */
}
/* HERO END */

/* HOME */
.home-title {
  font-size: 2.5rem; /* Adjust font size to suit your design */
  color: var(--color-primary); /* Use primary color for the title */
  text-align: center; /* Center the title */
  margin-top: rem; /* Spacing from the top */
  margin-bottom: 1rem; /* Spacing before the paragraph */
}

.home-paragraph {
  font-size: 1rem; /* Keep the font size readable */
  color: var(--text-dark); /* Dark color for contrast and readability */
  max-width: 800px; /* Maximum width for optimal reading experience */
  margin: auto; /* Center the paragraph if it's not full width */
  padding: 0 20px; /* Padding on the sides */
  line-height: 1.6; /* Line height for readability */
  text-align: justify;/* Justify the text for a neat look */
}

/* HOME END */

/* LOGOS */
.skills {
  display: flex;
  justify-content: center; /* Center the inner boxes horizontally */
  flex-wrap: wrap; /* Allow the boxes to wrap on smaller screens */
  gap: 20px; /* Add some space between the inner boxes */
}

.skills-container {
  display: flex;
  flex-direction: column; /* Stack the paragraph and image vertically */
  align-items: center; /* Center the items horizontally */
  border: 1px solid #dadada; /* Add a border to each inner box */
  padding: 20px; /* Add some padding inside each box */
  max-width: 28.5%; /* Set a max width for each inner box */
  box-shadow: 0 2px 4px rgba(0,0,0,0.05); /* Optional: Add a subtle shadow for depth */
}

.skills-para {
  text-align: center; /* Center-align the text */
  min-height: 60px;
  margin-bottom: 20px; /* Add space between the paragraph and the image */
}



.skills-container img {
  width: 350px;
  height: auto;
  object-fit: contain;
}


.logo {
  margin-top: 80px;
  margin-bottom: 80px;
  display: flex;
  justify-content: center;  
  gap: 20px;
}

.logo img {
  width: 80px;
  height: auto;
  object-fit: contain;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.logo img:hover {
  transform: scale(1.25); /* Slightly enlarge logos on hover */
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.0); /* Soft shadow for depth */
}
/* LOGO END */

/* Adjusting for smaller screens */
@media (max-width: 768px) {
  .content-overlay {
    flex-direction: column; /* Stack items vertically on smaller screens */
  }

  .content-overlay img {
    max-width: 80%; /* Larger image on smaller screens */
    margin-top: var(--padding-small); /* Add some space above the image */
  }
}
/* END HERO */

/* HOME CONTAINER */
.home-container {
  display: flex;
  align-items: center;
  flex-direction: column; 
  max-width: 63%;
  margin: 0 auto;
  width: 100%; 
  border-radius: 9px;
  box-shadow: var(--shadow-light);
  background-color: var(--background-light);
  margin-bottom: 40px;
}

.draggable-circle {
  width: 35px;
  height: 35px;
  background-color: #f69a05; /* A more vibrant color for visibility */
  border-radius: 49%; /* Circular shape */
  position: absolute;
  cursor: pointer; /* Cursor indicates it's draggable */
  box-shadow: var(--shadow-light); /* Consistent shadow with other elements */
  transition: transform 0.3s ease, box-shadow 0.3s ease; /* Smooth transitions for interaction */
  overflow-x: auto; /* Allows horizontal scrolling if needed */
}
/* END HOME CONTAINER */


/* REGISTER / LOGIN*/

.register-container, .login-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
  margin: 2rem auto;
  max-width: 400px;
  background: linear-gradient(to right, #6a11cb, #2575fc); /* Vibrant gradient background */
  border-radius: 20px;
  box-shadow: 0 10px 20px rgba(0,0,0,0.2);
  transition: transform 0.5s ease;
}

.register-container:hover, .login-container:hover  {
  transform: translateY(-2px);
  box-shadow: 0 15px 30px rgba(0,0,0,0.25);
}

.register-container h2, .login-container h2, label {
  color: #fff; /* Light text color for contrast */
  margin-bottom: 1rem;
}

input[type="text"],
input[type="password"] {
  width: 100%;
  padding: 0.75rem;
  margin-bottom: 1rem;
  border: none; /* Remove border */
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.8); /* Slightly transparent white */
  transition: background-color 0.3s ease; /* Smooth transition for background color */
}

input[type="text"]:focus,
input[type="password"]:focus {
  outline: none;
  background-color: #fff; /* Solid white background on focus */
  box-shadow: 0 0 0 2px rgba(255, 255, 255, 0.8); /* Glowing effect */
}

button[type="submit"] {
  padding: 0.75rem 1.5rem;
  border: none;
  border-radius: 5px;
  background-color: #ff5722; /* Vibrant button color */
  color: #000000;
  cursor: pointer;
  font-weight: 400;
  transition: transform 0.4s ease-in-out, box-shadow 0.4s ease;
}

button[type="submit"]:hover {
  transform: scale(1.05); /* Slightly enlarge button on hover */
  box-shadow: 0 5px 15px rgba(255,87,34,0.4); /* Soft shadow for depth */
}
/* END REGISTER / LOGIN*/
