/* Base styles */
:root {
  --font-size-base: 16px;
  --padding-base: 20px;
  --padding-card: 20px;
  --flex-gap: 20px;
  /* ... other variables ... */
}

/* Media queries for tablet devices */
@media (max-width: 768px) {
  :root {
    --font-size-base: 14px; /* Smaller font size for tablets */
    --padding-base: 15px; /* Smaller padding */
    --padding-card: 15px;
    --flex-gap: 15px;
    /* ... other redefined variables for tablets ... */
  }
}

/* Media queries for mobile devices */
@media (max-width: 480px) {
  :root {
    --font-size-base: 12px; /* Even smaller font size for mobile */
    --padding-base: 10px; /* Smaller padding for mobile */
    --padding-card: 10px;
    --flex-gap: 10px;
    /* ... other redefined variables for mobile ... */
  }
}

img {
  max-width: 100%;
  height: auto;
  display: block; /* Remove extra space below the image */
}

/* Use the CSS variables in your selectors */
body {
  font-size: var(--font-size-base);
  padding: var(--padding-base);
}


.flex-container {
  gap: var(--flex-gap);
}

.card {
  padding: var(--padding-card);
}
